<div class='attacks-prevented'>
  <h2 class='attacks-prevented__title'>Attacks Prevented Over 3 Years</h2>
  <ul class='attacks-prevented__list'>
    <li class='attacks-prevented__item'>
      <img src='./images/mail.svg' alt='mail'>
      <div class='attacks-prevented__item-text'>
        Email scanned dynamically by Perception Point
        <div class='attacks-prevented__container'>
          <img src='./images/icon-info.svg' alt='info' class='attacks-prevented__icon'>
          <div class='attacks-prevented__pop-up'>
            <p class='attacks-prevented__text'>Advanced attacks that cause highly material damages to the organization</p>
          </div>
        </div>
      </div>
      <span class='attacks-prevented__count'>1,000</span>
    </li>
    <li class='attacks-prevented__item'>
      <img src='./images/bad-files.svg' alt='bad files'>
      <div class='attacks-prevented__item-text'>
        Embedded Files & URLs Scanned
        <div class='attacks-prevented__container'>
          <img src='./images/icon-info.svg' alt='info' class='attacks-prevented__icon'>
          <div class='attacks-prevented__pop-up'>
            <p class='attacks-prevented__text'>Advanced attacks that cause highly material damages to the organization</p>
          </div>
        </div>
      </div>
      <span class='attacks-prevented__count'>1,000</span>
    </li>
    <li class='attacks-prevented__item'>
      <img src='./images/breaches.svg' alt='breaches'>
      <div class='attacks-prevented__item-text'>Breaches
        <div class='attacks-prevented__container'>
          <img src='./images/icon-info.svg' alt='info' class='attacks-prevented__icon'>
          <div class='attacks-prevented__pop-up'>
            <p class='attacks-prevented__text'>Advanced attacks that cause highly material damages to the organization</p>
          </div>
        </div>
      </div>
      <span class='attacks-prevented__count'>1,000</span>
    </li>
    <li class='attacks-prevented__item'>
      <img src='./images/phishing.svg' alt='phishing'>
      <div class='attacks-prevented__item-text'>Phishing attacks
        <div class='attacks-prevented__container'>
          <img src='./images/icon-info.svg' alt='info' class='attacks-prevented__icon'>
          <div class='attacks-prevented__pop-up'>
            <p class='attacks-prevented__text'>Advanced attacks that cause highly material damages to the organization</p>
          </div>
        </div>
      </div>
      <span class='attacks-prevented__count'>1,000</span>
    </li>
    <li class='attacks-prevented__item'>
      <img src='./images/malware.svg' alt='malware'>
      <div class='attacks-prevented__item-text'>Malware attacks
        <div class='attacks-prevented__container'>
          <img src='./images/icon-info.svg' alt='info' class='attacks-prevented__icon'>
          <div class='attacks-prevented__pop-up'>
            <p class='attacks-prevented__text'>Advanced attacks that cause highly material damages to the organization</p>
          </div>
        </div>
      </div>
      <span class='attacks-prevented__count'>1,000</span>
    </li>
    <li class='attacks-prevented__item'>
      <img src='./images/spam.svg' alt='spam'>
      <div class='attacks-prevented__item-text'>Spam attempts
        <div class='attacks-prevented__container'>
          <img src='./images/icon-info.svg' alt='info' class='attacks-prevented__icon'>
          <div class='attacks-prevented__pop-up'>
            <p class='attacks-prevented__text'>Advanced attacks that cause highly material damages to the organization</p>
          </div>
        </div>
      </div>
      <span class='attacks-prevented__count'>1,000</span>
    </li>
  </ul>
</div>