<form action="#" id="roi-form" class="roi-form">
  <select name="country">
    <option value="country"  disabled selected>country</option>
  </select>
  <select name="industry">
    <option value="industry"  disabled selected>industry</option>
  </select>
  <input type="number" name="numberOfEmployees" id="number-of-employees" placeholder="Number Of Employees">
  <label for="monthly-email-volume">
    <input type="email" name="monthlyEmailVolume" id="monthly-email-volume" placeholder="Monthly Email Volume">
    <img src="./images/icon-info.svg" alt="info" class="roi-form__icon">
  </label>
  <button type="submit" class="roi-form__submit">Calculate</button>
</form>
