<div class="range-section">
  <p class="range-section__text">You can alter our main assumptions to assess the expected ROI for your enterprise more
                                 accurately</p>
  <ul class="range-section__list range-list">
    <li class="range-list__item">
      <div class="range-list__container-text">
        <h3 class="range-list__title">Phishing Attack Ratio</h3>
        <div class="range-list__container-info">
          <img src="./images/icon-info.svg" alt="info" class="range-list__icon">
          <div class="range-list__pop-up">
            <p class="range-list__text">The percentage of phishing attacks out of all emails</p>
          </div>
        </div>
      </div>
      <div class="range-container">
        <div class="range-slider">
          <span class="range-slider__start-value">0%</span>
          <input class="range-slider__range" type="range" value="250" min="0" max="500">
          <span class="range-slider__value">250</span>
          <input type="text" name="enterPercent" class="enter-percent" value="1%">
        </div>
      </div>
    </li>
    <li class="range-list__item">
      <div class="range-list__container-text">
        <h3 class="range-list__title">Malware Attack Ratio</h3>
        <div class="range-list__container-info">
          <img src="./images/icon-info.svg" alt="info" class="range-list__icon">
          <div class="range-list__pop-up">
            <p class="range-list__text">The percentage of phishing attacks out of all emails</p>
          </div>
        </div>
      </div>
      <div class="range-container">
        <div class="range-slider">
          <span class="range-slider__start-value">0%</span>
          <input class="range-slider__range" type="range" value="250" min="0" max="500">
          <span class="range-slider__value">250</span>
          <input type="text" name="enterPercent" class="enter-percent" value="10%">
        </div>
      </div>
    </li>
    <li class="range-list__item">
      <div class="range-list__container-text">
        <h3 class="range-list__title">Spam Ratio</h3>
        <div class="range-list__container-info">
          <img src="./images/icon-info.svg" alt="info" class="range-list__icon">
          <div class="range-list__pop-up">
            <p class="range-list__text">The percentage of phishing attacks out of all emails</p>
          </div>
        </div>
      </div>
      <div class="range-container">
        <div class="range-slider">
          <span class="range-slider__start-value">0%</span>
          <input class="range-slider__range" type="range" value="250" min="0" max="500">
          <span class="range-slider__value">250</span>
          <input type="text" name="enterPercent" class="enter-percent" value="15%">
        </div>
      </div>
    </li>
    <li class="range-list__item">
      <div class="range-list__container-text">
        <h3 class="range-list__title">Month to deploy</h3>
        <div class="range-list__container-info">
          <img src="./images/icon-info.svg" alt="info" class="range-list__icon">
          <div class="range-list__pop-up">
            <p class="range-list__text">The percentage of phishing attacks out of all emails</p>
          </div>
        </div>
      </div>
      <div class="range-container">
        <div class="range-slider">
        <span class="range-slider__start-value">0%</span>
        <input class="range-slider__range" type="range" value="250" min="0" max="500">
        <span class="range-slider__value">250</span>
        <input type="text" name="enterPercent" class="enter-percent" value="1%">
      </div>
      </div>
    </li>
    <li class="range-list__item">
      <div class="range-list__container-text">
        <h3 class="range-list__title">Number of SOC analysts in the team</h3>
        <div class="range-list__container-info">
          <img src="./images/icon-info.svg" alt="info" class="range-list__icon">
          <div class="range-list__pop-up">
            <p class="range-list__text">The percentage of phishing attacks out of all emails</p>
          </div>
        </div>
      </div>
      <div class="range-container">
        <div class="range-slider">
        <span class="range-slider__start-value">0%</span>
        <input class="range-slider__range" type="range" value="250" min="0" max="500">
        <span class="range-slider__value">250</span>
        <input type="text" name="enterPercent" class="enter-percent" value="5">
      </div>
      </div>
    </li>
    <li class="range-list__item">
      <div class="range-list__container-text">
        <h3 class="range-list__title">SOC analyst cost of salary ($)</h3>
        <div class="range-list__container-info">
          <img src="./images/icon-info.svg" alt="info" class="range-list__icon">
          <div class="range-list__pop-up">
            <p class="range-list__text">The percentage of phishing attacks out of all emails</p>
          </div>
        </div>
      </div>
      <div class="range-container">
        <div class="range-slider">
        <span class="range-slider__start-value">0%</span>
        <input class="range-slider__range" type="range" value="250" min="0" max="500">
        <span class="range-slider__value">250</span>
        <input type="text" name="enterPercent" class="enter-percent" value="120">
      </div>
      </div>
    </li>
  </ul>
  <button type="button" class="get-full-report">get full report</button>
</div>