<div class="roi-metrics">
  <h2 class="roi-metrics__title">ROI Metrics</h2>
  <ul class="roi-metrics__list">
    <li class="roi-metrics__item">
      <h3 class="roi-metrics__item-title">3-year Threat Reduction Savings</h3>
      <p class="roi-metrics__data">$xxx</p>
    </li>
    <li class="roi-metrics__item">
      <h3 class="roi-metrics__item-title">3-year SOC-related Savings</h3>
      <p class="roi-metrics__data">$xxx</p>
    </li>
    <li class="roi-metrics__item">
      <h3 class="roi-metrics__item-title">FTE SOC Saved</h3>
      <p class="roi-metrics__data">x.x</p>
    </li>
  </ul>
  <div class="graphics">
    <div class='graphics__diagram1'>
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div class='graphics__diagram2'>
      <canvas id="myChart2" width="200" height="200"></canvas>
    </div>
  </div>
</div>