<div class='summary'>
  <h2 class='summary__title'>Summary</h2>
  <ul class='summary__list'>
    <li class='summary__item'>
      <h3 class='summary__item-title'>3-year ROI ($)</h3>
      <p class='summary__data'>$xxx</p>
    </li>
    <li class='summary__item'>
      <h3 class='summary__item-title'>3-year ROI ($)</h3>
      <p class='summary__data'>xxx%</p>
    </li>
    <li class='summary__item'>
      <h3 class='summary__item-title'>Payback period (Months)</h3>
      <p class='summary__data'>x.x</p>
    </li>
    <li class='summary__item'>
      <h3 class='summary__item-title'>Total Savings ($)</h3>
      <p class='summary__data'>$xxx</p>
    </li>
    <li class='summary__item'>
      <h3 class='summary__item-title'>Total Cost of
        Ownership ($)</h3>
      <p class='summary__data'>$xxx</p>
    </li>
    <li class='summary__item'>
      <h3 class='summary__item-title'>NPV ($)</h3>
      <p class='summary__data'>$xxx</p>
    </li>
  </ul>
  <div class='summary__button-container'>
    <button class='summary__calculation'>Turn the Calculation to a Free Demo</button>
    <button class='summary__download'>Download as pdf</button>
  </div>
</div>